.list-title {
  vertical-align: middle;
  padding: 1rem;
}
.menu-logo {
  float: right;
  i {
    float: right;
    font-size: 1.2rem;
  }
}
.list-item:not(:last-child) {
  border-bottom: 1px solid #7070703c;
}
.list-item {
  padding: 0.6rem;
}
.menu-record-div {
  height: 62vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 14px;
    height: 6px;
  }
  .active {
    background: #d3d3d3 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 0px 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: #7070704d;
    background-clip: padding-box;
    border-radius: 9999px;
    border: 4px solid rgba(0, 0, 0, 0);
  }
}
.img-record {
  height: 21vh;
}
.color-yellow {
  color: #ff832b;
}
.status{
  padding-left: 40px;
  span{
    font-weight: 10px;
  }
}
.row1 {
  width: 205%;
  padding-top: 1vh;
}
.watch{
  border-radius: 8px;
  height: 5vh;
  font-size: 17px;
}
.menu-recordone{
  overflow-x:hidden;
  height: 100vh;
  }
.menu-record1{
  height: 70vh;
  overflow-y: auto;
  overflow-x:hidden;
  &::-webkit-scrollbar {
    width: 14px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #7070704d;
    background-clip: padding-box;
    border-radius: 10000px;
    border: 4px solid rgba(0, 0, 0, 0);
  }
}

.container {
  display: block;
  position: relative;
  padding-left: 75px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  left: 35px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border:2px solid grey;
  border-radius: 15px;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block
}
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.border{
  border-bottom: 0.5px solid #7070703c;
  margin: 4px 15px 5px 35px;
}

