.list-title {
  vertical-align: middle;
  padding: 1rem;
}
.menu-logo {
  float: right;
  i {
    float: right;
    font-size: 1.2rem;
  }
}
.list-item:not(:last-child) {
  border-bottom: 1px solid #7070703c;
}
.list-item {
  padding: 0.6rem;
}
.menu-record-div {
  height: 62vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 14px;
    height: 6px;
  }
  .active {
    background: #d3d3d3 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 0px 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: #7070704d;
    background-clip: padding-box;
    border-radius: 9999px;
    border: 4px solid rgba(0, 0, 0, 0);
  }
}
.img-record {
  height: 21vh;
}
.color-yellow {
  color: #ff832b;
}
.status{
  padding-left: 40px;
  span{
    font-weight: 10px;
  }
}
.row1 {
  width: 205%;
  padding-top: 1vh;
}
.watch{
  border-radius: 8px;
  height: 5vh;
  font-size: 17px;
}
.menu-recordone{
  overflow-x:hidden;
  height: 100vh;
  }
.menu-record1{
  height: 75vh;
  overflow-y: auto;
  overflow-x:hidden;
  &::-webkit-scrollbar {
    width: 14px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #7070704d;
    background-clip: padding-box;
    border-radius: 10000px;
    border: 4px solid rgba(0, 0, 0, 0);
  }
}
.rounded-checkbox {
  width: 20px;
  height: 19px;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid rgb(54, 54, 54);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.rounded-checkbox:checked {
  appearance: auto;
  clip-path: circle(45%);
  background-color: blue;
}
.rounded-checkbox:checked::after {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: white; 
}
#hrline {
  margin-left: 46px;
  width:76%;
}
